body {
margin: 0;
font-family: Helvetica;
font-size: 22px;
color: seashell;
opacity: 0.9;
background-color: black;
}
                            /*HEADER THE WEBSITE*/
header {
  display: flex;
  height: 69px;
  width: 100%;
  background-color: blue;
  margin: 0;
  top: 0;
  left:0;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid;

}
/*Left section of the header*/
img.logo {
  padding: 10px;
  height: 50px;
}

/*Right section of the header*/
nav {
  display: flex;
}
nav span {
  margin: 0 10px;
  text-decoration: underline;

}

                            /*CONTENT OF THE WEBSITE*/
div.container {
  display: inline-flex;
  width: 100%;
  margin: 0;
  position: relative;
  top: 69px;
  justify-content: center;
  flex-flow: row wrap;

}

/*PART 1: Top section of the site*/
div.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("../Images/mission-background.jpg");
  justify-content: center;
  align-items: center;
}

div.titles {
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 1200px;
  background-color: black;
}

h2 {
  margin: 10px;
}
h4{
  margin: 10px;
  text-align: center;
}

/*PART 2: Middle section of the site*/
div.teas {
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 50px 0;
}
div.titles2 {
  text-align: center;
  width: 1000px;
  margin: 0;
}
/*First row of images of the Middle section*/
div.row-1 {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0;
}
div.berryblitz{
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}
div.spicedrum {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}
div.donut {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}
/*Second row of images of the Middle section*/
div.row-2 {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0;
}
div.myrtle {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}
div.bedford {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

/*PART 3: Bottom section of the site*/
div.locations {
  display: flex;
  height: 500px;
  width: 1200px;
  background-image: url("../Images/locations-background.jpg");
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  margin: 20px 0 0 0;

}

h2.titleloc {
  display:inline-block;
  text-align: center;
  width: 1200px;
  padding: 0;
  margin: 0;
}
/*Addresses of the places*/
div.places {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 1200px;
  margin-top: 10px;
}
div.downtown {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
}
div.east {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
}
div.oakdale {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
}
h3.location {
  margin: 20px 0;
  text-align: center;
}
h4.location {
  margin: 20px 0;
  text-align: center;
}

/*PART 4: Contact section*/
div.contact {
  display: flex;
  height: 200px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 80px;
}


h5 {
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px;
}
